In [18]:
import sys
import os

project_root = os.path.abspath('..')
if project_root not in sys.path:
    sys.path.append(project_root)

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [19]:
import pandas as pd
import numpy as np
import polars as pl

import matplotlib.pyplot as plt
import seaborn as sns

import warnings

from src.features import build_features

warnings.filterwarnings("ignore")
sns.set_style()
plt.rcParams["figure.figsize"] = (12, 6)

In [20]:
df_procesada = pd.read_csv("../data/interim/datos_limpios.csv", encoding="latin-1", sep=";")
df_procesada["FECHA 1º evaluación"] = pd.to_datetime(
    df_procesada["FECHA 1º evaluación"], format="%Y-%m-%d"
)

# Analisis para Congenitas

En este analisis se quieren responder obtener los siguientes insights:

- Frecuencia de diagnosticos por anio
- Frecuencia de edad de primera consulta por anio
- Frecuencia de procedencia por anio
- Frecuencia de sexo por anio
- Frecuencia de grupo etario por anio

## Frecuencia de diagnosticos por anio

In [6]:
egresos_por_anio = (
    df_procesada.groupby(["ANIO_PRIMERA_EVALUACION", "MES_PRIMERA_EVALUACION"])[
        "DIAGNOSTICO PRINCIPAL", "validacion"
    ]
    .value_counts()
    .reset_index(name="conteo")
)

## Frecuencia de edad de primera consulta por anio

In [17]:
df_procesada[df_procesada["F NAC"].str.contains(":").fillna(False)]

,n,FECHA 1º evaluación,Fallecidos,Fecha de Muerte,Causa Muerte,Edad Muerte,Mortalidad Operatoria,Reoperación antes 30 días,Fecha Operación,Año Cx,...,Fecha,Evaluacion 37,Fecha .1,Evaluacion 38,Evaluación 39,Unnamed: 221,Unnamed: 222,ANIO_PRIMERA_EVALUACION,MES_PRIMERA_EVALUACION,validacion
0,1.0,2017-10-03,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017.0,10.0,Q22.0
1,1.0,2010-08-10,2,NaN,NaN,NaN,2,2,2010-09-23 00:00:00,2010,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010.0,8.0,Q21.1
2,1.0,2010-06-15,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010.0,6.0,Q21.0
3,1.0,2019-02-21,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019.0,2.0,Q21.1
4,1.0,2017-11-07,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017.0,11.0,Q21.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3553,1.0,2017-03-21,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017.0,3.0,Q22.1
3554,1.0,2016-05-17,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016.0,5.0,Q21.3
3555,1.0,2016-04-05,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016.0,4.0,Q21.3
3556,1.0,2015-07-28,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015.0,7.0,Q21.3
3557,1.0,2001-11-09,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2001.0,11.0,Q20.5

In [9]:
df_procesada["EDAD ACTUAL"]

0       36.632876712328766
1       40.942465753424656
2       30.243835616438357
3        30.71232876712329
4       45.104109589041094
               ...
3556    25.123287671232877
3557    39.153424657534245
3558                   NaN
3559                   NaN
3560                   NaN
Name: EDAD ACTUAL, Length: 3561, dtype: object

In [ ]:
edad_por_anio = egresos_por_anio = (
    df_procesada.groupby(["ANIO_PRIMERA_EVALUACION", "MES_PRIMERA_EVALUACION"])[
        "DIAGNOSTICO PRINCIPAL", "validacion"
    ]
    .value_counts()
    .reset_index(name="conteo")
)